[submodule "OmpSs-1"]
	path = OmpSs-1
	url = https://github.com/bsc-pm-ompss-at-fpga/ompss-at-fpga-releases
[submodule "OmpSs-1-maxeler"]
	path = OmpSs-1-maxeler
	url = https://github.com/xavim/ompss-maxeler
[submodule "OmpSs-1-DFiant"]
	path = OmpSs-1-DFiant
	url = https://github.com/DFiantHDL/DFiant
[submodule "OmpSs-2/mcxx"]
	path = OmpSs-2/mcxx
	url = https://github.com/bsc-pm/mcxx
[submodule "OmpSs-2/nanos6"]
	path = OmpSs-2/nanos6
	url = https://github.com/bsc-pm/nanos6
[submodule "OmpSs-2/ompss-2-linter"]
	path = OmpSs-2/ompss-2-linter
	url = https://github.com/bsc-pm/ompss-2-linter
[submodule "OmpSs-2/xitao"]
	path = OmpSs-2/xitao
	url = https://github.com/CHART-Team/xitao
